@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900&subset=latin,latin-ext);
@import url('../typicons/typicons.min.css');
.font-primary{
	font-family:'Source Sans Pro',sans-serif;
}
.font-header{
	font-family:'Source Sans Pro',sans-serif;
}
.font-spec{
	font-family:'Titillium Web',sans-serif;
}
.font-icon{
	font-family:'typicons';
}
